<div>
  <label>Category Name</label>
  <input type="text" [(ngModel)]="categoryName" />
  <label>Product Count</label>
  <input type="number" [(ngModel)]="productCount" />
  <label>Category Image</label>
  <input type="text" [(ngModel)]="categoryImage" />
  <button type="button" (click)="addCategory()">Add Category</button>
</div>
<div class="categories">
  <ng-container *ngFor="let category of categories">
    <app-category
      *ngIf="category.id > 2"
      [category]="category"
      (deleteEmitter)="deleteCategory($event)"
    ></app-category>
  </ng-container>
</div>
