<div class="product-item bg-light mb-4">
  <div class="product-img position-relative overflow-hidden">
    <img class="img-fluid w-100" [src]="product.imageUrl" alt="" />
    <div class="product-action">
      <a
        class="btn btn-outline-dark btn-square"
        (click)="addToCart(product)"
        ><i class="fa fa-shopping-cart"></i
      ></a>
      <a class="btn btn-outline-dark btn-square" href=""
        ><i class="far fa-heart"></i
      ></a>
      <a class="btn btn-outline-dark btn-square" href=""
        ><i class="fa fa-sync-alt"></i
      ></a>
      <a class="btn btn-outline-dark btn-square" href=""
        ><i class="fa fa-search"></i
      ></a>
    </div>
  </div>
  <div class="text-center py-4">
    <a
      class="h6 text-decoration-none text-truncate"
      [routerLink]="['detail', product.id]"
      >{{ product.name }}</a
    >
    <div class="d-flex align-items-center justify-content-center mt-2">
      <h5>{{ product.price * (1 - product.discount) | currency }}</h5>
      <h6 class="text-muted ml-2">
        <del>{{ product.price | currency }}</del>
      </h6>
    </div>
    <div class="d-flex align-items-center justify-content-center mb-1">
      <app-rating [rating]="product.rating"></app-rating>
      <small>({{ product.ratingCount }})</small>
    </div>
  </div>
</div>
